.wrapper {
    display: flex;

    .content {
        flex-grow: 1;
        background-color: #fcf7f1;

        display: flex;
        flex-direction: column;
        padding: 13% 14%;
    }

    .logo {
        min-width: 400px;
        background-color: #198597;
        color: #fcf7f1;
        font-size: 54px;
        font-family: 'MontserratLight';
        letter-spacing: -4px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}