.wrapper {
    display: flex;

    .logo {
        min-width: 400px;
        background-color: #f8a577;
        color: #fcf7f1;
        font-size: 54px;
        font-family: 'MontserratLight';
        letter-spacing: -4px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        flex-grow: 1;
        background-color: #fcf7f1;

        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 13% 18%;

        .item {
            padding: 32px;
            width: 100%;
            border: 1px solid #7a5932;
            border-radius: 25px;
            text-align: center;

            font-size: 24px;
            line-height: 30px;
            color: #7a5932;
            cursor: pointer;

            position: relative;
        }

        .card {
            // box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px,
            //     rgb(14 30 37 / 32%) 0px 2px 16px 0px;
            padding: 32px;
            width: 500px;
            border-radius: 25px;
            background-color: #faedde;
            z-index: 9;

            position: absolute;
            left: -600px;
            top: -150%;
            // transform: translate(-100%, -50%);

            .title {
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 12px;
                color: #7a5932;
                font-family: 'MontserratBold';
            }

            .role {
                font-size: 20px;
                line-height: 30px;
                color: #7a5932;
                font-family: 'MontserratBold';
                letter-spacing: 3;
            }

            .date {
                font-size: 16px;
                font-family: 'MontserratBold';
                color: #7a5932;
            }

            .description {
                font-size: 14px;
                line-height: 18px;
                margin-top: 20px;
                color: #7a5932;

                & p {
                    margin-bottom: 16px;
                }
            }
        }
    }
}
