.wrapper {
    width: 100vh;
    height: 100vh;
    background-color: black;

    .images {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-flow: column;

        .img {
            width: 30vh;
            height: 30vh;
            position: relative;

            &.active {
                animation: masking 800ms ease-in-out forwards;
                // -webkit-mask-image: radial-gradient(circle at 50% 50%, black 0%, rgba(0, 0, 0, 0.2) 50%);
                // mask-image: radial-gradient(circle at 50% 50%, black 50%, rgba(0, 0, 0, 0.2) 50%);
            }

            &.dead::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba($color: #000000, $alpha: 0.6);
            }
        }
    }
}

@keyframes masking {
    @for $i from 0 through 10000 {
        #{$i * 0.01%} {
            -webkit-mask-image: radial-gradient(circle at 50% 50%, black #{$i * 0.005%}, rgba(0, 0, 0, 0.2) 50%);
            mask-image: radial-gradient(circle at 50% 50%, black #{$i * 0.005%}, rgba(0, 0, 0, 0.2) 50%);
        } 
    }
}