.wrapper {
    display: flex;
    height: 175vh;
    position: relative;

    .textContainer {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: calc(100vw - 100vh);
        background-color: black;

        .text {
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 50vh;

            display: flex;
            flex-direction: column;

            .quote {
                font-size: 22px;
                margin-bottom: 20px;
            }

            .name {
                align-self: flex-end;
            }
        }
    }
}