.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    // background: radial-gradient(#3a3838 , #2D3436);
    background-repeat: no-repeat;
    overflow: hidden;

    .card {
        width: 100vw;
        height: 100vh;
        cursor: pointer;

        border-radius: 8px;
        background-image: url('../../../assets/images/nature.webp');
        background-size: cover;
        background-position: center center;
        box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.5s;
        will-change: transform;
        // border: 15px solid lightgray;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;

        &:hover {
            box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
        }

        .globe {
            position: absolute;
            z-index: 2;
            box-shadow: 0px 0px 20px -5px rgba(173, 216, 230, 0.4);
            top: 10px;
            left: 5px;
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }

        .videoWrapper {
            transform: translate(0, 90%);

            .video {
                border-radius: 0 0 50vw 50vw;
                width: 30vw;
                box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 1);
            }
        }

        .fishGif {
            position: relative;
            width: 100px;
            margin-bottom: 5vh;
        }

        .fish {
            position: relative;
            left: 0;
            top: 200px;
            width: 100px;
        }

        .birdGif {
            position: absolute;
            width: 25px;
            left: -5%;
            top: 30px;
            animation: leftToRight 20s ease infinite;
        }

        .baby {
            z-index: 10;
            width: 200px;
            margin-bottom: 45vh;
        }

        .rain {
            z-index: 1;
            position: absolute;
            top: 20vh;
            left: 50%;
            transform: translateX(-53%);
            border-radius: 200vw 200vw 0 0;
            width: 40vw;
            height: 38vh;
            background-image: url('../../../assets/images/rain.png');
            animation: rain 0.2s linear infinite;
        }

        @keyframes rain {
            0% {
                background-position: 0 0;
            }

            100% {
                background-position: -20% 100%;
            }
        }

        @keyframes leftToRight {
            from {
                left: -6%;
            }

            to {
                left: 100%;
            }
        }
    }
}