.wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    // height: 100vh;
    background-color: black;
    // overflow: scroll;

    // ::-webkit-scrollbar {
    //     width: 10px;
    // }

    .emptyPage {
        // position: absolute;
        // top: 0;
        // left: 0;
        font-family: 'Helvetica';
        height: 100vh;
        width: 100%;
        background-color: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
    }

    .boxs {
        padding: 20px;
        background-color: #F5F5F5;

        .box {
            max-width: 50%;
            margin: 20px auto;
            height: 200px;
            background-color: rgba($color: #3a4052, $alpha: 0.7);
            border-radius: 10px;
        }
    }

    .textAnimation {
        height: 99vh;
        overflow: scroll;

        .insideDiv {
            font-family: 'HelveticaBold';
            height: 100%;
            width: 100%;
            font-size: 48px;

            background: url(../../assets/images/dessert.jpg) no-repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .scrollMagic {
        color: white;
    }
}

.gsap {
    height: 100px;
    width: 200px;
    background-color: lightblue;
}