body, html {
    ::-webkit-scrollbar {
        width: 0;
    }
}

.wrapper {
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    z-index: 2;

    .title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        letter-spacing: 2px;
    }

    .dotsContainer {
        position: absolute;
        top: 0;
        left: 0;
    }

    .dot {
        position: absolute;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba($color: #fff, $alpha: 0.5);
    }
}