.wrapper {
    position: relative;
    overflow-x: hidden;

    .slider {
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 2;

        .emptyDiv {
            width: 100vw;
            height: 100vh;
            background: transparent;
        }
    }

    .emptyPage {
        width: 100vw;
        height: 100vh;
        background-color: black;
    }
}