.wrapper {
    position: relative;

    .slider {
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 2;

        .emptyDiv {
            width: 100vw;
            height: 100vh;
            background: transparent;
        }
    }

    .check {
        height: 300vh;
        width: 100vw;
        background-color: salmon;
        position: relative;

        .sticky {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;

            background: lightblue;
        }
    }

    .emptyPage {
        width: 100vw;
        height: 100vh;
        background-color: black;
    }
}