.wrapper {
    display: flex;
    align-items: center;
    color: #202121;

    .text {
        font-size: 10px;
        letter-spacing: -0.3px;
        margin-right: 10px;
    }

    .register {
        cursor: pointer;
        text-transform: uppercase;
        font-size: 10px;

        transition: color 0.3s ease-in-out;

        &:hover {
            opacity: 0.6;
        }
    }
}