.wrapper {
    height: 40px;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 999999;

    position: -webkit-sticky;
    position: sticky;
    top: 0px;

    .submit {
        height: 100%;
        width: 200px;
        color: #fff;
        background-color: #49c5b6;
        font-size: 10px;
        text-transform: uppercase;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #42AB9E;
        }
    }
}