@font-face {
  font-family: 'RobotoBlack';
  src: local('RobotoBlack'), url(./fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: 'RobotoBlackItalic';
  src: local('RobotoBlackItalic'), url(./fonts/Roboto-BlackItalic.ttf);
}

@font-face {
  font-family: 'RobotoBold';
  src: local('RobotoBold'), url(./fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'RobotoBoldItalic';
  src: local('RobotoBoldItalic'), url(./fonts/Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: 'RobotoItalic';
  src: local('RobotoItalic'), url(./fonts/Roboto-Italic.ttf);
}

@font-face {
  font-family: 'RobotoLight';
  src: local('RobotoLight'), url(./fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: 'RobotoLightItalic';
  src: local('RobotoLightItalic'), url(./fonts/Roboto-LightItalic.ttf);
}

@font-face {
  font-family: 'RobotoMedium';
  src: local('RobotoMedium'), url(./fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: 'RobotoMediumItalic';
  src: local('RobotoMediumItalic'), url(./fonts/Roboto-MediumItalic.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'RobotoThin';
  src: local('RobotoThin'), url(./fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: 'RobotoThinItalic';
  src: local('RobotoThinItalic'), url(./fonts/Roboto-ThinItalic.ttf);
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'PoppinsThin';
  src: local('PoppinsThin'), url(./fonts/Poppins-Thin.ttf);
}

@font-face {
  font-family: 'PoppinsMedium';
  src: local('PoppinsMedium'), url(./fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'PoppinsBold';
  src: local('PoppinsBold'), url(./fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'Helvetica';
  src: local('Poppins'), url(./fonts/Helvetica.ttf);
}

@font-face {
  font-family: 'HelveticaLight';
  src: local('PoppinsThin'), url(./fonts/Helvetica-Light.ttf);
}

@font-face {
  font-family: 'HelveticaBold';
  src: local('PoppinsMedium'), url(./fonts/Helvetica-Bold.ttf);
}

@font-face {
  font-family: 'HelveticaOblique';
  src: local('PoppinsBold'), url(./fonts/Helvetica-Oblique.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
